
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Administration</p>
            <p class="flow-text sub-welcome-text centralized">Choose what you want to work with from the list below</p>
            <hr class="colored-hr" />
            <div class="row">
                <div class="col s4">
                    <div class="collection">
                        <a class="collection-item admin-menu-item flow-text centralized" href="/Admin/Article">Articles
                            <br/>
                            <br/>
                            <img width="120" class="responsive-img" src="~/Content/Images/article-img.png"/>
                        </a>
                    </div>
                </div>
                <div class="col s4">
                    <div class="collection">
                        <a class="collection-item admin-menu-item flow-text centralized" href="/Admin/Review">
                            Reviewes
                            <br />
                            <br />
                            <img width="120" class="responsive-img" src="~/Content/Images/review-img.png" />
                        </a>
                    </div>
                </div>
                <div class="col s4">
                    <div class="collection">
                        <a class="collection-item admin-menu-item flow-text centralized" href="/Admin/User">Users
                            <br />
                            <br />
                            <img width="120" class="responsive-img" src="~/Content/Images/user-img.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3 push-s1">
        <div class="row">
            @Html.Partial("../Partials/_LoginBlock")
        </div>
        <div class="row">
            <div id="right-sidebar" class="card centralized">
                <div class="row"></div>
                <p class="card-title flow-text">Tools</p>
                <div class="collection with-header">
                    @Html.RouteLink("Articles", new { controller = "Article", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Reviews", new { controller = "Review", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Users", new { controller = "User", action = "Index" }, new { @class = "collection-item" })
                </div>
            </div>
        </div>
    </div>
</div>

