@{
    ViewBag.Title = "Admin/Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Users</p>
            <p class="flow-text sub-welcome-text centralized">Comming soon!</p>
            <hr class="colored-hr"/>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text sub-welcome-text">Here will be a list of users and all neccessary operations with it.</p>
                </div>
            </div>           
        </div>
    </div>
    <div class="col s3 push-s1">
        <div class="row">
            @Html.Partial("../Partials/_LoginBlock")
        </div>
        <div class="row">
            <div id="right-sidebar" class="card centralized">
                <div class="row"></div>
                <p class="card-title flow-text">Tools</p>
                <div class="collection with-header">
                    @Html.RouteLink("Articles", new { controller = "Article", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Reviews", new { controller = "Review", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Users", new { controller = "User", action = "Index" }, new { @class = "collection-item active" })
                </div>
            </div>
        </div>
    </div>
</div>




