@model IEnumerable<EPAM_MVC_2.Models.Article>

@{ 
    ViewBag.Title = "Main";
}
<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Feed</p>
            <p class="flow-text sub-welcome-text centralized">Hope you'll find something interesting here</p>
            <hr class="colored-hr" />
            <div id="article_target" class="row">
                @if (Model.Count() == 0)
                {
                    <p class="flow-text centralized welcome-text">There are no articles yet..</p>
                }
                else
                {
                    @Html.Partial("Partials/_ArticleList", Model)
                }
            </div>
        </div>
    </div>
    <div class="col s3 push-s1">
        <div id="right-sidebar" class="card centralized">
            <div class="row"></div>
            <p class="card-title flow-text">Menu</p>
            <div class="collection with-header">
                @Html.ActionLink("Main", "Index", "Home", new { @class = "collection-item active" })
                @Html.ActionLink("Guest", "Guest", "Home", new { @class = "collection-item" })
                @Html.ActionLink("Quize", "Quize", "Home", new { @class = "collection-item" })
            </div>
        </div>
    </div>
</div>