@{
    ViewBag.Title = "Quize";
}

<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <p class="flow-text welcome-text centralized">Welcome to uBlog!</p>
            <p class="flow-text sub-welcome-text centralized">Just tell us a little about yourself</p>
            <hr class="colored-hr" />
            @Html.Partial("Partials/_QuizeForm")
        </div>
    </div>
    <div class="col s3 push-s1">
        <div id="right-sidebar" class="card centralized">
            <div class="row"></div>
            <p class="card-title flow-text">Menu</p>
            <div class="collection with-header">
                @Html.ActionLink("Main", "Index", "Home", new { @class = "collection-item" })
                @Html.ActionLink("Guest", "Guest", "Home", new { @class = "collection-item" })
                @Html.ActionLink("Quize", "Quize", "Home", new { @class = "collection-item active" })
            </div>
        </div>
    </div>
</div>

